proxy-backend/node_modules/
proxy-ui/node_modules/

test-todo-backend/node_modules/
test-todo-backend-2/node_modules/

test-todo-frontend/node_modules/
test-todo-backend/dist/app.module.d.ts
test-todo-backend/dist/app.module.js
test-todo-backend/dist/app.module.js.map
test-todo-backend/dist/main.d.ts
test-todo-backend/dist/main.js
test-todo-backend/dist/main.js.map
test-todo-backend/dist/todo/todo.controller.d.ts
test-todo-backend/dist/todo/todo.controller.js
test-todo-backend/dist/todo/todo.controller.js.map
test-todo-backend/dist/todo/todo.module.d.ts
test-todo-backend/dist/todo/todo.module.js
test-todo-backend/dist/todo/todo.module.js.map
test-todo-backend/dist/todo/todo.service.d.ts
test-todo-backend/dist/todo/todo.service.js
test-todo-backend/dist/todo/todo.service.js.map
test-todo-backend-2/dist/app.module.d.ts
test-todo-backend-2/dist/app.module.js
test-todo-backend-2/dist/app.module.js.map
test-todo-backend-2/dist/main.d.ts
test-todo-backend-2/dist/main.js
test-todo-backend-2/dist/main.js.map
test-todo-backend-2/dist/todo/todo.controller.d.ts
test-todo-backend-2/dist/todo/todo.controller.js
test-todo-backend-2/dist/todo/todo.controller.js.map
test-todo-backend-2/dist/todo/todo.module.d.ts
test-todo-backend-2/dist/todo/todo.module.js
test-todo-backend-2/dist/todo/todo.module.js.map
test-todo-backend-2/dist/todo/todo.service.d.ts
test-todo-backend-2/dist/todo/todo.service.js
test-todo-backend-2/dist/todo/todo.service.js.map
